@view-transition {
  navigation: auto;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  /*margin: 0;*/
}

html {
  interpolate-size: allow-keywords;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

h1,
h2 {
  line-height: 1.25;
}

p,
li {
  text-wrap: pretty;
}

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}

label {
  display: block;
  margin-bottom: -1rem;
}

input,
button,
textarea,
select {
  border-color: aliceblue;
  font: inherit;
  color: white;
  background-color: transparent;
  font-size: max(1em, 16px);
  padding: 0;
  margin: 0;
}

input:where([type="checkbox"], [type="radio"]) {
  width: 1em;
  height: 1em;
}

textarea {
  resize: none;
  min-height: 4lh;
}

legend {
  padding: 0;
}

select,
::picker(select) {
  appearance: base-select;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
}

::placeholder {
  color: white;
}
